﻿
<div class="container-fluid mt-2">

    <div class="panel panel-default htfull">
        <!-- <div class="overflowprod">-->
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">Pay Deposit on these items</h3>
            </div>
            <div class="col-md-12 cart-list">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="3">Weekly</th>
                            <th colspan="3">Monthly</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th><span>Model# & Description</span></th>
                            <th><span>Term</span></th>
                            <th><span>Rate</span></th>
                            <th><span>Term x Rate</span></th>
                            <th><span>Term</span></th>
                            <th><span>Rate</span></th>
                            <th><span>Term x Rate</span></th>
                            <th><span>Cash Price</span></th>
                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="info in cart">
                            {{info.quantity}}
                            <td data-label="Model# & Description">{{info.modelNumber}} <br />{{info.description}}</td>
                            <td data-label="Weekly"></td>
                            <td data-label="Term">{{info.term}}</td>
                            <td data-label="Rate">{{info.weeklyRate | currency:"$":2}}</td>
                            <td data-label="Term x Rate">{{(info.weeklyRate * info.term) | currency:"$":2}}</td>
                            <td data-label="Monthly"></td>
                            <td data-label="Term">{{info.termMonthly}}</td>
                            <td data-label="Rate">{{info.monthlyRate | currency:"$":2}}</td>
                            <td data-label="Term x Rate">{{(info.termMonthly * info.monthlyRate) | currency:"$":2}}</td>
                            <td data-label="Price">{{(info.price * info.quantity) | currency:"$":2}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-4">
                <p class="form-control-static total-Deposit">
                    Deposit Amount : <span class="tprice"> {{MinimumDepositAmount | currency}} </span><br>

                </p>
            </div>
            <div class="col-sm-8">
                <div class="pull-right">
                    <button class="btn btn-warning" ui-sref="start.search">Continue Shopping  <i class="fa fa-angle-right"> </i></button>
                    <button class="btn btn-primary" ui-sref="cartNotEmpty"><i class="fa fa-angle-left"> </i>  Back to Cart</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="row mt-2">
            <div class="col-md-12">
                <h4 class="title">Please enter as much of the information below as possible.<span class="text-danger"> &lowast; = required fields</span></h4>
            </div>
        </div>
        <form role="form" id="paymentForm" method="post" name="paymentForm" ng-submit="makePayment()">
            <div class="row mt-2 form-fill">
                <div class="col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">Customer Information</div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5" ng-class="{'has-error' : paymentForm.firstName.$invalid && !paymentForm.firstName.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label"> First Name<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="firstName" name="firstName" maxlength="12" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" required />
                                            </div>
                                            <div ng-messages="paymentForm.firstName.$error" ng-if="paymentForm.firstName.$dirty">
                                                <div ng-message="required" class="error">FirstName is required.</div>
                                                <div ng-message="pattern" class="error">FirstName is invalid.</div>                   
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-class="{'has-error' : paymentForm.middleName.$invalid && !paymentForm.middleName.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label"> Middle </label>
                                                <input class="form-control" name="middleName" ng-model="middleName" type="text" maxlength="12" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.middleName.$error" ng-if="paymentForm.middleName.$dirty">
                                                <div ng-message="pattern" class="error">MiddleName is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.lastName.$invalid && !paymentForm.lastName.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label"> Last Name<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="lastName" name="lastName" maxlength="12" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" required />
                                            </div>
                                            <div ng-messages="paymentForm.lastName.$error" ng-if="paymentForm.lastName.$dirty">
                                                <div ng-message="required" class="error">LastName is required.</div>
                                                <div ng-message="pattern" class="error">LastName is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.homePhoneNumber.$invalid && !paymentForm.homePhoneNumber.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Home Phone<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="homePhoneNumber" name="homePhoneNumber" maxlength="12" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required />
                                            </div>
                                            <div ng-messages="paymentForm.homePhoneNumber.$error" ng-if="paymentForm.homePhoneNumber.$dirty">
                                                <div ng-message="required" class="error">Home Phone Number is required.</div>
                                                <div ng-message="pattern" class="error">Home Phone Number is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.cellPhoneNumber.$invalid && !paymentForm.cellPhoneNumber.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Cell Phone </label>
                                                <input class="form-control" type="text" ng-model="cellPhoneNumber" name="cellPhoneNumber" maxlength="12" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.cellPhoneNumber.$error" ng-if="paymentForm.cellPhoneNumber.$dirty">
                                                <div ng-message="pattern" class="error">Phone number is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.workPhoneNumber.$invalid && !paymentForm.workPhoneNumber.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Work Phone </label>
                                                <input class="form-control" type="text" ng-model="workPhoneNumber" name="workPhoneNumber" maxlength="12" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.workPhoneNumber.$error" ng-if="paymentForm.workPhoneNumber.$dirty">
                                                <div ng-message="pattern" class="error">Address is invalid.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5" ng-class="{ 'has-error' : paymentForm.address.$invalid && !paymentForm.address.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Address<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="address" name="address" maxlength="80" ng-pattern="/^[a-zA-Z0-9 ]*$/" allow-pattern="(\d|[a-z ])" required />
                                            </div>
                                            <div ng-messages="paymentForm.address.$error" ng-if="paymentForm.address.$dirty">
                                                <div ng-message="required" class="error">Address is required.</div>
                                                <div ng-message="pattern" class="error">Address is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-class="{ 'has-error' : paymentForm.apt.$invalid && !paymentForm.apt.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Apt# </label>
                                                <input class="form-control" type="text" ng-model="apt" name="apt" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.apt.$error" ng-if="paymentForm.apt.$dirty">
                                                <div ng-message="pattern" class="error">Apt is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.city.$invalid && !paymentForm.city.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">City<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="city" name="city" maxlength="25" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" required />
                                            </div>
                                            <div ng-messages="paymentForm.city.$error" ng-if="paymentForm.city.$dirty">
                                                <div ng-message="required" class="error">City is required.</div>
                                                <div ng-message="pattern" class="error">City is invalid.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                    <!--Email fild move from here-->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.state.$invalid && !paymentForm.state.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">State<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="state" name="state" maxlength="2" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" required />
                                            </div>
                                            <div ng-messages="paymentForm.state.$error" ng-if="paymentForm.state.$dirty">
                                                <div ng-message="required" class="error">State is required.</div>
                                                <div ng-message="pattern" class="error">State is required.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.zipCode.$invalid && !paymentForm.zipCode.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Zip Code<span class="text-danger">*</span> </label>
                                                <input class="form-control" type="text" ng-model="zipCode" name="zipCode" maxlength="5" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required />
                                            </div>
                                            <div ng-messages="paymentForm.zipCode.$error" ng-if="paymentForm.zipCode.$dirty">
                                                <div ng-message="required" class="error">ZipCode is required.</div>
                                                <div ng-message="pattern" class="error">ZipCode is invalid.</div>
                                            </div>
                                            <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.four.$invalid && !paymentForm.four.$pristine }">
                                                <div class="form-group">
                                                    <label class="control-label">+ Four </label>
                                                    <input class="form-control" type="text" ng-model="four" name="four" maxlength="4" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                                </div>
                                                <div ng-messages="paymentForm.four.$error" ng-if="paymentForm.four.$dirty">
                                                    <div ng-message="pattern" class="error">Four is invalid.</div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-8">
                                            <div class="form-group" ng-class="{ 'has-error' : paymentForm.email.$invalid && !paymentForm.email.$pristine }">
                                                <label class="control-label">Email<span class="text-danger">*</span> </label>
                                                <!--<input class="form-control" type="email" ng-model="email" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/" required />-->
                                                <input class="form-control" type="email" ng-model="email" name="email"  required />
                                            </div>
                                            <div ng-messages="paymentForm.email.$error" ng-if="paymentForm.email.$dirty">
                                                <div ng-message="required" class="error">Email is required.</div>
                                                <div ng-message="pattern" class="error">Please enter a valid email.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" ng-class="{ 'has-error' : paymentForm.birthDatePicker.$invalid && !paymentForm.birthDatePicker.$pristine }">
                                                <label class="control-label">Birth Date<span class="text-danger">*</span> </label>
                                                <input class="form-control" id="birthDatePicker" name="birthDatePicker" readonly type="text" ng-model="birthdate" required />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-8" ng-class="{ 'has-error' : paymentForm.driverLicence.$invalid && !paymentForm.driverLicence.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Driver&acute;s Licence# </label>
                                                <input class="form-control" type="text" ng-model="driverLicence" name="driverLicence" maxlength="25" ng-pattern="/^[a-zA-Z0-9]*$/" allow-pattern="(\d|[a-z])" />
                                            </div>
                                            <div ng-messages="paymentForm.driverLicence.$error" ng-if="paymentForm.driverLicence.$dirty">
                                                <div ng-message="pattern" class="error">Driver Licence is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.dlState.$invalid && !paymentForm.dlState.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">DL State </label>
                                                <input class="form-control" type="text" ng-model="dlState" name="dlState" maxlength="25" ng-pattern="/^[a-zA-Z]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.dlState.$error" ng-if="paymentForm.dlState.$dirty">
                                                <div ng-message="pattern" class="error">DL State is invalid.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">Employment Information</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8" ng-class="{ 'has-error' : paymentForm.employeeName.$invalid && !paymentForm.employeeName.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Name </label>
                                                <input class="form-control" type="text" ng-model="employeeName" name="employeeName" maxlength="25" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z ]" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeName.$error" ng-if="paymentForm.employeeName.$dirty">
                                                <div ng-message="pattern" class="error">Name is invalid.</div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.employeePhone.$invalid && !paymentForm.employeePhone.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Phone </label>
                                                <input class="form-control" type="text" ng-model="employeePhone" name="employeePhone" maxlength="12" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.employeePhone.$error" ng-if="paymentForm.employeePhone.$dirty">
                                                <div ng-message="pattern" class="error">Number is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-class="{ 'has-error' : paymentForm.employeeAddress.$invalid && !paymentForm.employeeAddress.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Address </label>
                                                <input class="form-control" type="text" ng-model="employeeAddress" name="employeeAddress" maxlength="80" ng-pattern="/^[a-zA-Z0-9 ]*$/" allow-pattern="(\d|[a-z ])" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeAddress.$error" ng-if="paymentForm.employeeAddress.$dirty">
                                                <div ng-message="pattern" class="error">Address is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.employeeCity.$invalid && !paymentForm.employeeCity.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">City </label>
                                                <input class="form-control" type="text" ng-model="employeeCity" name="employeeCity" maxlength="25" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeCity.$error" ng-if="paymentForm.employeeCity.$dirty">
                                                <div ng-message="pattern" class="error">City is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.employeeState.$invalid && !paymentForm.employeeState.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">State </label>
                                                <input class="form-control" type="text" ng-model="employeeState" name="employeeState" maxlength="25" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeState.$error" ng-if="paymentForm.employeeState.$dirty">
                                                <div ng-message="pattern" class="error">State is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.employeeZipCode.$invalid && !paymentForm.employeeZipCode.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Zip Code </label>
                                                <input class="form-control" type="text" ng-model="employeeZipCode" name="employeeZipCode" maxlength="5" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeZipCode.$error" ng-if="paymentForm.employeeZipCode.$dirty">
                                                <div ng-message="pattern" class="error">Zip is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6" ng-class="{ 'has-error' : paymentForm.employeeSalary.$invalid && !paymentForm.employeeSalary.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Salary </label>
                                                <input class="form-control" type="text" ng-model="employeeSalary" name="employeeSalary" maxlength="7" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.employeeSalary.$error" ng-if="paymentForm.employeeSalary.$dirty">
                                                <div ng-message="pattern" class="error">Salary is invalid.</div>
                                            </div>
                                        </div> 
                                        <div class="col-md-6" ng-class="{ 'has-error' : paymentForm.per.$invalid && !paymentForm.per.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Per____ </label>
                                                <input class="form-control" type="text" ng-model="per" name="per" ng-pattern="/^[a-zA-Z0-9]*$/" allow-pattern="(\d|[a-z])" />
                                            </div>
                                            <div ng-messages="paymentForm.per.$error" ng-if="paymentForm.per.$dirty">
                                                <div ng-message="pattern" class="error">Salary is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">Reference</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-8" ng-class="{ 'has-error' : paymentForm.refName.$invalid && !paymentForm.refName.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Name </label>
                                                <input class="form-control" type="text" ng-model="refName" maxlength="25" name="refName" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z ]" />
                                            </div>
                                            <div ng-messages="paymentForm.refName.$error" ng-if="paymentForm.refName.$dirty">
                                                <div ng-message="pattern" class="error">Name is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{ 'has-error' : paymentForm.refPhone.$invalid && !paymentForm.refPhone.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Phone </label>
                                                <input class="form-control" type="text" ng-model="refPhone" name="refPhone" maxlength="12" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.refPhone.$error" ng-if="paymentForm.refPhone.$dirty">
                                                <div ng-message="pattern" class="error">Phone Number is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" ng-class="{ 'has-error' : paymentForm.refAddress.$invalid && !paymentForm.refAddress.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Address </label>
                                                <input class="form-control" type="text" ng-model="refAddress" name="refAddress" maxlength="80" ng-pattern="/^[a-zA-Z0-9 ]*$/" allow-pattern="(\d|[a-z ])" />
                                            </div>
                                            <div ng-messages="paymentForm.refAddress.$error" ng-if="paymentForm.refAddress.$dirty">
                                                <div ng-message="pattern" class="error">Address is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4" ng-class="{'has-error': paymentForm.refCity.$invalid && !paymentForm.refCity.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">City </label>
                                                <input class="form-control" type="text" ng-model="refCity" name="refCity" maxlength="30" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.refCity.$error" ng-if="paymentForm.refCity.$dirty">
                                                <div ng-message="pattern" class="error">Address is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{'has-error': paymentForm.refState.$invalid && !paymentForm.refState.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">State </label>
                                                <input class="form-control" type="text" ng-model="refState" name="refState" maxlength="30" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.refState.$error" ng-if="paymentForm.refState.$dirty">
                                                <div ng-message="pattern" class="error">Status is invalid.</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-class="{'has-error': paymentForm.refZipCode.$invalid && !paymentForm.refZipCode.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Zip Code </label>
                                                <input class="form-control" type="text" ng-model="refZipCode" name="refZipCode" maxlength="5" allow-pattern="\d" ng-pattern="/^[0-9]*$/" />
                                            </div>
                                            <div ng-messages="paymentForm.refZipCode.$error" ng-if="paymentForm.refZipCode.$dirty">
                                                <div ng-message="pattern" class="error">Zip Code is invalid.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" ng-class="{'has-error': paymentForm.refRelation.$invalid && !paymentForm.refRelation.$pristine }">
                                            <div class="form-group">
                                                <label class="control-label">Relation </label>
                                                <input class="form-control" type="text" ng-model="refRelation" name="refRelation" maxlength="30" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z]" />
                                            </div>
                                            <div ng-messages="paymentForm.refRelation.$error" ng-if="paymentForm.refRelation.$dirty">
                                                <div ng-message="pattern" class="error">Incorrect Relation.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="dis2" class="col-md-12 error">{{apiErrorMessage}}</div>
                        <div id="someHiddenDiv" class="col-md-12">
                            <label class="error" id="payment-errors"></label>
                            <label class="error" id="response_msg"></label>
                            <label class="error" id="response_note"></label>
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <!-- CREDIT CARD FORM STARTS HERE -->
                    <div id="cardInfoDetail" class="panel panel-success credit-card-box">
                        <div class="panel-heading">Make Payment</div>

                        <div class="panel-body">
                            <p class="text-warning ft12"> Part of this page will disappear after hitting Make Payment. Please be patient, as it could take a up to a minute to process your payment! Do NOT interrupt the process once it has started! If you are using an Android device and are having issues entering the card number, we are aware of this issue and are not to resolve it. In the meantime disable predictive text to make this payment. Then enable it once done. </p>
                            <span class="text-danger"> * = required fields</span>

                            <div class="display-table">
                                <div class="row display-tr">
                                    <h3 class="panel-title display-td">Payment Information</h3>
                                    <!--<div class="display-td tprice"><label class="tprice">{{depositAmount | currency}}</label></div>-->
                                    <div class="display-td tprice"><label class="tprice">{{MinimumDepositAmount | currency}}</label></div>
                                </div>
                            </div>

                            <div class="display-table mt-2">
                                <div class="row display-tr">
                                    <h3 class="panel-title display-td">Enter Card Information</h3>
                                    <!--<div class="display-td">-->
                                        <!--<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">-->
                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="cardNumber">Card Type <span class="text-danger"> * </span></label>
                                        <div class="input-group">
                                            <select class="form-control" payeezy-data="card_type" name="card_type" ng-change="verifyCard(card_type)" ng-model="card_type" required>
                                                <option value="">Select Card Type</option>
                                                <option ng-repeat="cards in cardTypes | orderBy">{{cards}}</option>

                                            </select>
                                            <span class="input-group-addon"><i class="fa fa-shopping-cart"></i></span>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12" ng-class="{ 'has-error' : paymentForm.cardholder_Name.$invalid && !paymentForm.cardholder_Name.$pristine }">
                                    <div class="form-group">
                                        <label for="cardNumber">Card Holder Name <span class="text-danger"> * </span></label>
                                        <div class="input-group">
                                            <input class="form-control" payeezy-data="cardholder_name" type="text" name="cardholder_Name" maxlength="30" ng-model="cardholder_Name" placeholder="Card Holder Name" ng-pattern="/^[a-zA-Z\s]*$/" allow-pattern="[a-z ]" required>
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        </div>
                                    </div>
                                    <div ng-messages="paymentForm.cardholder_Name.$error" ng-if="paymentForm.cardholder_Name.$dirty">
                                        <div ng-message="required" class="error">Cardholder Name is required.</div>
                                        <div ng-message="pattern" class="error">Incorrect Name.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" ng-class="{ 'has-error' : paymentForm.card_Number.$invalid && !paymentForm.card_Number.$pristine }">
                                    <div class="form-group">
                                        <label for="cardNumber">Card Number <span class="text-danger"> * </span></label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" payeezy-data="cc_number" maxlength="16" id="card_Number" ng-maxlength="cardLength" ng-minlength="cardLength" name="card_Number" placeholder="Valid Card Number"
                                                   ng-model="card_Number" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required />
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>
                                    <div ng-messages="paymentForm.card_Number.$error" ng-if="paymentForm.card_Number.$dirty">
                                        <div ng-message="required" class="error">Card is required.</div>
                                        <div ng-message="maxlength" class="error">Card is invalid</div>
                                        <div ng-message="minlength" class="error">Card is invalid</div>
                                        <div ng-message="pattern" class="error">Card is invalid</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-8">

                                    <div class="form-group">
                                        <label for="cardExpiry"><span class="hidden-xs">Expiration</span><span class="visible-xs-inline">EXP</span> Date  <span class="text-danger"> * </span></label>
                                        <div class="row act_row">
                                            <div class="col-xs-6 p-r-5">

                                                <select payeezy-data="exp_month" ng-model="exp_month" name="exp_month" class="form-control" card-expiration required>

                                                    <option disabled selected value="">Month</option>
                                                    <option ng-repeat="exp_month in months" value="{{$index+1}}" > {{$index+1}} - {{exp_month}}</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6 p-l-5" year-drop offset="0" range="20">
                                              <!--  <select payeezy-data="exp_year" ng-model="exp_year" class="form-control" required>
                                                    <option value="">Year</option>
                                                    <option ng-repeat="item in years" value="{{item | strLimit : 2 : 2}}">
                                                        {{item}}
                                                    </option>
                                                </select> -->

                                                <select payeezy-data="exp_year" ng-model="exp_year" name="exp_year" class="form-control" required>

                                                    <option disabled selected value="">Year</option>
                                                    <option ng-repeat="exp_year in [] | range:currentYear:currentYear+20" value="{{exp_year | strLimit : 2 : 2}}" >{{exp_year}}</li></option>

                                                </select>

                                            </div>

                                            <div ng-show="paymentForm.exp_year.$error" ng-if="paymentForm.exp_year.$dirty" class="error-msg">
                                                <!--<li ng-show="paymentinfoform.exp_year.$error.required" class="error">Expiration year required</li>-->
                                                <div ng-show="paymentForm.exp_month.$error.invalid" class="error">Provided expiration date is invalid</div>

                                            </div>

                                        </div>
                                       
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 pull-right" ng-class="{ 'has-error' : paymentForm.cvv_code.$invalid && !paymentForm.cvv_code.$pristine }">
                                    <div class="form-group">
                                        <label for="cardCVC">CVV Code  <span class="text-danger"> * </span></label>
                                        <input type="password" class="form-control" maxlength="4" payeezy-data="cvv_code" ng-maxlength="cvvLength" ng-minlength="cvvLength" name="cvv_code" placeholder="CVV" ng-model="cvv_code" allow-pattern="\d"    encrypt  ng-pattern="/^[0-9]*$/" required />
                                    </div>
                                    <div ng-messages="paymentForm.cvv_code.$error" ng-if="paymentForm.cvv_code.$dirty">
                                        <div ng-message="required" class="error">CVV is required.</div>
                                        <div ng-message="maxlength" class="error">CVV is invalid</div>

                                        <div ng-message="pattern" class="error">CVV is invalid</div>
                                    </div>
                                </div>
                            </div>

                            <div class="display-table mt-2">
                                <div class="row display-tr">

                                </div>
                            </div>
                            <h3 class="panel-title display-td">Customer Information</h3>
                            <div class="row mt-2">
                                <div class="col-md-12" ng-class="{ 'has-error' : paymentForm.zip_postal_code.$invalid && !paymentForm.zip_postal_code.$pristine }">
                                    <div class="form-group">
                                        <label for="couponCode">Zip Code <span class="text-danger"> * </span></label>
                                        <input type="text" class="form-control" payeezy-data="zip_postal_code" maxlength="5" name="zip_postal_code" ng-model="zip_postal_code" allow-pattern="\d" ng-pattern="/^[0-9]*$/" required />
                                    </div>
                                    <div ng-messages="paymentForm.zip_postal_code.$error" ng-if="paymentForm.zip_postal_code.$dirty">
                                        <div ng-message="required" class="error">Customer ZipCode is required.</div>
                                        <div ng-message="pattern" class="error">ZipCode is invalid.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="subscribe btn btn-success btn-lg btn-block" ng-disabled="paymentForm.$invalid" type="submit">Make Payment</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- CREDIT CARD FORM ENDS HERE -->

                </div>

            </div>

        </form>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#birthDatePicker').datepicker({
            format: 'dd/mm/yyyy',
        });
    });

    $('#birthDatePicker').datepicker('setEndDate',  (date = new Date()));

    $('#birthDatePicker').on('changeDate', function (ev) {
        $(this).datepicker('hide');
    });

</script>
