﻿<div class="container">
    <div class="col-md-offset-3 col-md-6 col-sm-6 col-lg-6 col-xs-12 mess-home-main-sec">
        <div class="mes-text-main">
            <p>You Must First Select Your Store and Credentials From Settings</p>
        </div>
    </div>
</div>