
<div ng-if="ShowLoader" class="overLayGIF">
    <div>   
        <img class="div_img overlay-position" src="~/../assets/img/32.gif" />
    </div>
</div>
    <!--Strat Main Container-->
    <div id="login-wrapper">
        <header class="fixed-head">
            <!--Start Top Header-->
            <nav class="navbar navbar-default nav-custom" style="min-height: 127px;">
                <div class="container menu-box">
                    <div class="header-top-1">
                        <div class="container no-padding">
                            <p class="add-details ">
<!--                                <span>{{storeINFO}} </span><br/>-->
                                <span ng-bind="storeINFO"></span><br/>
                                <span>{{firstName}} {{lastName}}</span>
                            </p>
                            <!-- <p class="add-userdetails float-R">{{firstName}} {{lastName}}</p>-->
                        </div>
                    </div>
                </div>
            </nav>

        </header>

        <!--Start content-->

        <div class="login-container">


            <div class="row login-inner">
                <div class="col-sm-5">
                    <h4>Payments Login</h4>
                    <p>Login here if you already have an existing online payment account </p>
                    <form name="loginForm" ng-submit="submitLogin(checked)" novalidate class="form-horizontal">

                        <div class="form-group">
                            <div class="col-sm-12 mgn-T-10 no-padding" ng-class="{ 'has-error' : loginForm.userName.$invalid && !loginForm.userName.$pristine }">
                                <label>Store Name</label>
                                <div class="inner-addon right-addon">

                                    <div custom-select="item.name for item in data | filter: $searchTerm" custom-select-options="level1Options" ng-change="testLocationList(item.store_name)" ng-model="item.store_name" >

                                    </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-12 mgn-T-10" ng-class="{ 'has-error' : loginForm.userName.$invalid && !loginForm.userName.$pristine }">
                                <label>Username</label>
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-user" aria-hidden="true">
                                    </i>
                                    <input type="text" name="userName" ng-model="userName" class="form-control" placeholder="Username" required />
                                </div>
                                <p ng-show="loginForm.userName.$invalid && !loginForm.userName.$pristine" class="error">Username is required.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12 mgn-T-10" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                                <label>Password</label>
                                <div class="inner-addon right-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required />
                                </div>
                                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="error">Password is required.</p>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-sm-12 mgn-T-10">
                                    <div class="checkbox">
                                        <label class="margin-top15"><input type="checkbox" name="checked" ng-model="checked">Remember Me</label>
                                    </div>
                                </div>
                            </div>

                        <div ng-if="mesgGreen" class="text-green">{{message}}</div>
                        <div ng-if="mesgRed"  class="error">{{message}}</div>
                        <div id="dis2" class="error">{{apiErrorMessage}}</div>

                        <div class="form-group">
                            <div class="col-sm-12 mgn-T-10">
                                <div class="row">
                                    <div class="col-xs-7"><a ng-click="RetrieveLoginInfo();">Forgot Password</a></div>
                                    <div class="col-xs-5 align_right_D"><input type="submit"  value="Save" ng-disabled="loginForm.$invalid" class="btn btn-success"></div>
                                </div>
                                <div class="row">
                                      <!-- <p class="col-sm-12 bookmark"><a id="Bookmark" href="#">Bookmark this page</a></p>-->
                                 </div>
                             </div>
                         </div>
</div>
                     </form>
                 </div>

                 <div class="col-sm-5 sign-up">
                     <h4>Payments Sign up</h4>
                     <p>Sign up to pay your existing account in the store. </p>
                     <form class="form-horizontal">
                         <div class="form-group">
                             <div class="col-sm-12">
                                 <div class="row">
                                     <div  class="col-sm-5"><a><input  ng-click="signUp();"  type="button" value="SIGN UP" class="btn btn-default"></a></div>
                                 </div>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>

             <p class="login-footer"><a id="Bookmark" href="#/ReportIssue">Report Issue</a></p>
              <div class="col-md-9">

              </div>
          </div>
          <div class="clearfix"></div>
      </div>

      <!--End Main container-->





