﻿

<div class="top-bar navbar-bg">
	<div class="brand-bg">        
      <a class="navbar-brand" href="#">
          <img alt="Brand" src="../assets/images/logo.png">
      </a>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="custom-nav">
               	<button type="button" class="btn btn-info" id="storeinfomation">                   
                	<i class="fa fa-map-marker" aria-hidden="true"></i> <span>Store Info</span>
           		</button>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse" id="storeinfo">
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                   <strong>Store: </strong> Departmental Store,  91/2 Street,  Florida, ST, 00121042</span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-phone"></i> </strong> (555) 555-5555 </span>
                  </li>
                  <li class="nav-item">
                    <strong><i class="fa fa-envelope"></i> </strong> departmental_store@xyz.com</span>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
           
            </div>
            
            <div class="cart-count">
                <i class="fa fa-opencart cart" aria-hidden="true"><label class="cart-lebel">00</label></i>
            </div>
         
        </div>
    </div>
    
</div>



<div class="container-fluid mt-2">
	
    <div class="panel panel-default htfull">
       <!-- <div class="overflowprod">-->
        	<div class="row">
                <div class="col-md-12">
                    <h3 class="title">Pay Deposit on these items</h3>                
                </div>
                <div class="col-md-12 cart-list">            
                    <table>
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th colspan="3">Weekly</th>
                              <th colspan="3">Monthly</th>
                              <th></th>
                              <th></th>
                            </tr>
                            <tr>
                              <th><span>Model Number</span></th>
                              <th><span>Description</span></th>
                              <th><span>Term</span></th>
                              <th><span>Rate</span></th>
                              <th><span>Term x Rate</span></th>
                              <th><span>Term</span></th>
                              <th><span>Rate</span></th>
                              <th><span>Term x Rate</span></th>
                              <th><span>Cash Price</span></th>
                              <th></th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td data-label="Model Number">XBR-55X850D</td>
                              <td data-label="Description">Brand Modal Description</td>
                              <td data-label="Weekly"></td>
                              <td data-label="Term">52</td>
                              <td data-label="Rate">$19.99</td>
                              <td data-label="Term x Rate">$1039.48</td>
                              <td data-label="Monthly"></td>
                              <td data-label="Term">12</td>
                              <td data-label="Rate">$79.99</td>
                              <td data-label="Term x Rate">$959.88</td>
                              <td data-label="Cash Price">$599.99</td>
                              <td data-label="Action"><i class="fa fa-close"></i></td>
                            </tr>
                           
                          </tbody>
                        </table>
                    
                </div>
            </div>
			
			<div class="row mt-2">
            	<div class="col-sm-4">
                	<p class="form-control-static total-Deposit">
                    	Deposit Amount : <span class="tprice"> $599.99 </span>
                    </p>
                </div>
				<div class="col-sm-8">
                	<div class="pull-right">
					<button class="btn btn-warning">Continue Shoping  <i class="fa fa-angle-right"> </i></button>
					<button class="btn btn-primary">  <i class="fa fa-angle-left"> </i>  Back to Cart</button>
                    </div>
				</div>
			</div>
            <hr/>
            <div class="row mt-2">
                <div class="col-md-12">
                    <h4 class="title">Please enter as much of the information below as posible.<span class="text-danger"> &lowast; = required fields</span></h4>                    
                </div>
            </div>
            
	       <div class="row mt-2 form-fill">
                <div class="col-md-8"> 
                	<div class="panel panel-info">
                      <div class="panel-heading">Customer Information</div>
                      <div class="panel-body">
                      	<div class="row">
                        	<div class="col-md-6">
                                <div class="row">
                                	<div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label"> First Name<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"> Middle </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Last Name<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="row">
                                	<div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Home Phone<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Cell Phone </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Work Phone </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                        	
                        </div>
                       
                        
                        <div class="row">
                        	<div class="col-md-6">
                            	<div class="row">    
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="control-label">Address<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Apt# </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">City<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                            	<div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Email </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Birth Date </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                       <div class="row">
                       		<div class="col-md-6">
                            	<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">State<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Zip Code<span class="text-danger">*</span> </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">+ Four </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Driver&acute;s Licence# </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">DL State </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                            </div>
                       </div>                        
                      </div>
                    </div>               	
                   
                   <div class="row">
                   		<div class="col-md-6">
                        	<div class="panel panel-info">
                              <div class="panel-heading">Employment Information</div>
                              <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Name </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Phone </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Address </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">City </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">State </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Zip Code </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Salary </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Per____ </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                                
                              </div>                      
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                        	<div class="panel panel-info">
                              <div class="panel-heading">Reference</div>
                              <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="control-label">Name </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Phone </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Address </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">City </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">State </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label">Zip Code </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                                
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Relation </label>
                                            <input class="form-control" type="text"  />                                    
                                        </div>	
                                    </div>
                                </div>
                                
                              </div>                      
                            </div>
                        </div>
                   </div>
                   
                   
                </div>
               
                
                <div class="col-md-4">
                	<!-- CREDIT CARD FORM STARTS HERE -->
            <div class="panel panel-success credit-card-box">
            	<div class="panel-heading">Make Payment</div>
                
                <div class="panel-body">
                	<p class="text-warning ft12"> Part of this page will disappear after hitting Make Payment. Please be patient, as it could take a up to a minute to process your payment! Do NOT interrupt the process once it has started! If you are using an Android device and are having issues entering the card number, we are aware of this issue and are not to resolve it. In the meantime disable predictive text to make this payment. Then enable it once done. </p>
                        <span class="text-danger"> * = required fields</span>
                        
                    <div class="display-table" >
                        <div class="row display-tr" >
                            <h3 class="panel-title display-td" >Payment Information</h3>
                            <div class="display-td tprice"><label class="tprice">$599.99</label></div>
                        </div>                    
                    </div>
                    
                    <div class="display-table mt-2" >
                        <div class="row display-tr" >
                            <h3 class="panel-title display-td" >Enter Card Information</h3>
                            <div class="display-td" >                            
                                <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                            </div>
                        </div>                    
                    </div>
                    <form role="form" id="payment-form" method="POST" action="javascript:void(0);">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="cardNumber">Card Number <span class="text-danger"> * </span></label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number"
                                            autocomplete="cc-number" required autofocus />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label for="cardExpiry"><span class="hidden-xs">Expiration</span><span class="visible-xs-inline">EXP</span> Date  <span class="text-danger"> * </span></label>
                                    <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required/>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label for="cardCVC">CV Code  <span class="text-danger"> * </span></label>
                                    <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="display-table mt-2" >
                            <div class="row display-tr" >
                                
                            </div>                    
                        </div>
                        <h3 class="panel-title display-td" >Customer Information</h3>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="couponCode">Zip Code <span class="text-danger"> * </span></label>
                                    <input type="text" class="form-control" name="zipcode" />
                                </div>
                            </div>                        
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="subscribe btn btn-success btn-lg btn-block" type="button">Make Payment</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-12">
                                <p class="payment-errors"></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>            
            <!-- CREDIT CARD FORM ENDS HERE -->
                    
                </div>
            </div>
    </div>

	
</div>

